/** Framework **/
@import "_foundation";

/** Variables **/
$primary-color: #d4d2d4;
$secondary-color: pink;


/** Fonts **/
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  border: solid 15px pink;
  min-height: 100vh;

  width: 100%;
  height: 100%;
  @media screen and (max-width: 39.9375em) {
    border: none;
    padding: none;
    margin: none;
  }
}

h1 {
  font-family: 'Vidaloka', serif;
  text-align: right;
  font-size: 100px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: -20px;
  @media screen and (max-width: 39.9375em) {
      font-size: 75px;
      margin-top: 0;
  }
}

p, a, li {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  line-height: 1.4;
}

li {
  font-weight: bold;
}

ul {
  padding-top: 20%;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

/** Page Transitions **/
page-enter-active, .page-leave-active {
  transition: all .30s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

/** Sidebar **/

.sidebar {
  top: 72px;
  position:fixed;
  max-width: 217px;
  @media screen and (max-width: 39.9375em) {
    display: none;
  }
}

.contact {
  position: fixed;
  bottom: 43px;
  font-weight: normal;
  color: grey;
}

.about {
  position: fixed;
  bottom: 75px;
  font-weight: normal;
  max-width: 217px;
  color: grey;
}

/** Body **/

/** Index **/

.thumbnail-container {
  height: 350px;
  margin-bottom: 25px;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(212,210,212,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(212,210,212,1);
  box-shadow: 5px 5px 0px 0px rgba(212,210,212,1);
  position: relative;

  img {
    height: 100%;
    max-width: none;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }
  &:after {
  display: block;
  position: relative;
  background: radial-gradient(circle, rgba(0,0,0,0) 64%, rgba(0,0,0,0.04525560224089631) 100%);
  margin-top: -350px;
  height: 100%;
  width: 100%;
  content:'';
  }
}

/** Work **/

.work-thumbnail {
  height: 450px;
  margin-bottom: 25px;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(212,210,212,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(212,210,212,1);
  box-shadow: 5px 5px 0px 0px rgba(212,210,212,1);
  position: relative;
  img {
    height: 100%;
    max-width: none;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }
  &:after {
  display: block;
  position: relative;
  background: radial-gradient(circle, rgba(0,0,0,0) 64%, rgba(0,0,0,0.12525560224089631) 100%);

  height: 100%;
  width: 100%;
  content:'';
  }
}

.work-sidebar {
    margin-top:40px;
}

.back-button {
  font-size: 20px;
}
