.footer {
  background-color: #222;

  img {
    max-width: 200px;
    padding-bottom: 15px;
  }

  p {
    font-size: 80%;
    color: white;
  }

  a {
    color: white;

    &:hover {
     text-decoration: underline;
    }
  }
}
